@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

body {
    margin:  0;
    padding: 0;
    font-family: 'Roboto';
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(115px + 5vw);
    width: calc(100vw - 10vw);
}

h1 { font-size: 48px }

p { font-size: 18px ; margin-top: 0 }

.error-page * {
    flex-basis: 100%;
}