.legend-text {
    color: #74798C;
    font-size: 14px;
    font-weight: 500;
    margin-right: 24px;
  }

.recharts-cartesian {
    &-axis-tick-line {
        display: none;
      }
      &-grid-horizontal line {
        stroke-dasharray: 3 3;
      }
  }
.chart {
    &-container {
        position: relative;
        width: 100%;
        height: 100%;
    }
    &-title {
        position: absolute;
        top: 0;
        left: 0;
        color: #20253A;
        margin: 0;
        font-size: 15px;
        font-weight: 500;
    }
}