
.user {
  &-header {
    margin-left: calc(115px + 5vw);
  }
  &-body {
    display: grid;
    height: 100vh;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    section.left {
      width: max-content;
      &-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0 30px;
      }
    }
  }
}

.user-title, .user-congrats {
  flex-basis: 100%;
}

.username { color: #FF0101}

.chart {
  &-container {
      position: relative;
      width: 60vw;
      max-width: 800px;
      height: 300px;
      &-small {
          width:  30vh;
          max-width: 260px;
          height: 30vh;
          max-height: 260px;
          @media screen and (max-height: 825px) {
          width:  24vh;
          height: 24vh;
          }
      }
  }
  &-title {
      position: absolute;
      top: 0;
      left: 0;
      color: #20253A;
      margin: 0;
      font-size: 15px;
      font-weight: 500;
  }
}