.legend-text {
    color: #74798C;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
  }

.recharts-cartesian {
    &-axis-tick-line {
        display: none;
      }
      &-grid-horizontal line {
        stroke-dasharray: 3 3;
      }
  }

.chart {
    &-container {
        position: relative;
        width: 100%;
        height: 100%;
    }
    &-title {
        position: absolute;
        top: 0;
        left: 0;
        color: #20253A;
        margin: 0;
        font-size: 15px;
        font-weight: 500;
    }
}

.custom-tooltip--activity {
  padding: 5px 10px;
  background-color: #E60000;
  text-align: center;
  p {
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
  }
}