.user-daily-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10.5vh;
    padding-left: 5vw;
    @media screen and (max-width: 1040px) {
        padding-left: 3vw;
    }
}